In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.Series([0.25,0.5,0.7])
data

0    0.25
1    0.50
2    0.70
dtype: float64

In [3]:
data.values

array([0.25, 0.5 , 0.7 ])

In [4]:
data.index

RangeIndex(start=0, stop=3, step=1)

In [6]:
data= pd.Series([0.34,0.67,0.98],index=['a','b','c'])
data

a    0.34
b    0.67
c    0.98
dtype: float64

In [12]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
#population_dict
population=pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [8]:
population_dict.values()

dict_values([38332521, 26448193, 19651127, 19552860, 12882135])

In [9]:
population_dict.keys()

dict_keys(['California', 'Texas', 'New York', 'Florida', 'Illinois'])

In [13]:
#Dataframe_trial

area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area=pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [14]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [15]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [16]:
states.columns

Index(['population', 'area'], dtype='object')

In [17]:
states.rows

AttributeError: 'DataFrame' object has no attribute 'rows'